receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 5s
    send_batch_size: 512
  memory_limiter:
    check_interval: 1s
    limit_mib: 512
  attributes:
    actions:
      - key: service.name
        value: opsmedic
        action: insert

exporters:
  logging:
    loglevel: info
  jaeger:
    endpoint: http://localhost:14250
  otlphttp:
    endpoint: http://opsmedic-agent:8001
    path: /webhook
    headers:
      Content-Type: application/json

extensions:
  health_check:
    endpoint: :13133
  pprof:
    endpoint: :1777

service:
  extensions: [health_check, pprof]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, attributes, batch]
      exporters: [logging, otlphttp]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, attributes, batch]
      exporters: [logging, otlphttp]
    logs:
      receivers: [otlp]
      processors: [memory_limiter, attributes, batch]
      exporters: [logging, otlphttp]
